.container{
    background: #a9a9a9;
    padding-top: 20px;

    }
.caramelo{
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.screen{
    text-align: right ;
    background:rgb(138, 212, 138);
    }
.btn{
    background: salmon;
    margin: 0px;
    padding: 5px;
    border-color: darkgreen;
    margin-bottom: 5px;
    }
    
